gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
Gemfile.lock

projects.properties
projects.jks
google_api.json
app/google-services.json

# fastlane
fastlane/report.xml